/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-UltraLightItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-UltraLightItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-HairItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-HairItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-ThinItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-ExtraLightItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-TwoItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-TwoItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-LightItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-BookItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-FourItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-FourItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-Italic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-MediumItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-SemiBoldItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-BoldItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-EightItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-EightItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-ExtraBoldItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Italic/FiraGO-HeavyItalic.woff") format("woff"), url("../../assets/Fonts/Italic/FiraGO-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Bold.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Book.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Eight.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Eight.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-ExtraBold.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-ExtraLight.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Four.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Four.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Hair.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Hair.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Heavy.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Light.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Medium.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Regular.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-SemiBold.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Thin.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-Two.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-Two.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../assets/Fonts/Roman/FiraGO-UltraLight.woff") format("woff"), url("../../assets/Fonts/Roman/FiraGO-UltraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
body header {
  font-family: "Firago", sans-serif;
}
body header .header_wrapper {
  background-color: #496ac1;
  padding: 43px 50px;
}
body header .header_wrapper .container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_wrapper .container .navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_wrapper .container .navigation nav ul li:nth-child(1) {
  margin-right: 36px;
}
body header .header_wrapper .container .navigation nav ul li:nth-child(2) {
  margin-right: 48px;
}
body header .header_wrapper .container .navigation nav ul li a {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.2px;
  font-family: "Firago", sans-serif;
  transition: 0.3s;
}
body header .header_wrapper .container .navigation nav ul li a:hover {
  color: rgba(255, 255, 255, 0.4392156863);
}
body header .header_wrapper .container .navigation nav ul .toggle-language {
  position: relative;
  width: 56px;
  height: 28px;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-button {
  display: none;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-button:checked + .toggle-label::before {
  transform: translateX(30px);
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-button:checked + .toggle-label .toggle-label-on {
  display: block;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-button:not(:checked) + .toggle-label .toggle-label-off {
  display: block;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #496ac1;
  border-radius: 100px;
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label .toggle-label-on,
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label .toggle-label-off {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label .toggle-label-on {
  left: -12px;
  color: #496ac1;
  font-size: 14px;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label .toggle-label-off {
  right: -12px;
  color: #496ac1;
  font-size: 14px;
}

footer {
  background-color: #496AC1;
  padding: 40px 50px;
  font-family: "FiraGO", sans-serif;
}
footer .footer-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .footer-wrapper .privacy {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-wrapper .privacy a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
footer .footer-wrapper .logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer-wrapper .logo-wrapper a {
  width: 100%;
}
footer .footer-wrapper .logo-wrapper a .unilab {
  width: 87px;
  height: 70px;
  margin-right: 40px;
}
footer .footer-wrapper .logo-wrapper a .iliauni {
  width: 72.7px;
  height: 70px;
}

body {
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "FiraGO", sans-serif;
}
body main {
  flex: 1;
}
body main .container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
body main .section_1_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 38px;
  text-align: center;
  background-image: url("../../assets/images/banner-image.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 531px;
  margin-top: 80px;
  max-width: 1180px;
  max-width: 91%;
}
body main .section_1_content h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  color: #e6e6e6;
}
body main .section_1_content p {
  max-width: 90ch;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #e6e6e6;
}
body main .section_1_content .buttons {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body main .section_1_content .buttons div {
  padding: 10px 23px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body main .section_1_content .buttons div a {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.76px;
  transition: color 0.3s ease;
}
body main .section_1_content .buttons div:nth-child(1) {
  background-color: #e6e6e6;
}
body main .section_1_content .buttons div:nth-child(1) a {
  color: #2c2c2c;
}
body main .section_1_content .buttons div:nth-child(2) {
  border: 1px solid #ffffff;
  padding: 8px 30px;
}
body main .section_1_content .buttons div:nth-child(2) a {
  color: #ffffff;
}
body main .section_1_content .buttons div:hover {
  background-color: #496ac1;
  border-color: #496ac1;
}
body main .section_1_content .buttons div:hover a {
  color: #ffffff;
}
body main .opportunities_section {
  margin-top: 80px;
  margin-bottom: 150px;
}
body main .opportunities_section h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #496ac1;
  text-align: center;
}
body main .opportunities_section .blocks {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
body main .opportunities_section .blocks .block {
  width: 580px;
  height: 610px;
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
}
body main .opportunities_section .blocks .block img {
  width: 100%;
  padding: 40px 40px 24px;
}
body main .opportunities_section .blocks .block h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
body main .opportunities_section .blocks .block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #000000;
  max-width: 50ch;
  margin: 22px auto 17px;
}
body main .opportunities_section .blocks .block:nth-child(5), body main .opportunities_section .blocks .block:nth-child(6), body main .opportunities_section .blocks .block:nth-child(7) {
  width: 100%;
  height: auto;
  padding: 40px 40px 72px 40px;
}
body main .opportunities_section .blocks .block .see_more {
  border: 1px solid #496ac1;
  padding: 10px 30px;
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body main .opportunities_section .blocks .block .see_more a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #496ac1;
  transition: color 0.3s ease;
}
body main .opportunities_section .blocks .block .see_more:hover {
  background-color: #496ac1;
}
body main .opportunities_section .blocks .block .see_more:hover a {
  color: #ffffff;
}

.body {
  background-color: #f0f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body .container {
  width: 1180px;
  max-width: 1180px;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 32px 71px rgba(0, 0, 0, 0.1), 0px 130px 130px rgba(0, 0, 0, 0.09), 0px 292px 175px rgba(0, 0, 0, 0.05), 0px 519px 208px rgba(0, 0, 0, 0.01), 0px 811px 227px rgba(0, 0, 0, 0);
}
.body .container .forget-password img {
  position: absolute;
  top: 54px;
  left: 40px;
  z-index: 99999;
  cursor: pointer;
}
.body .container span {
  font-size: 16px;
  line-height: 19.2px;
  color: #2c2c2c;
  margin-bottom: 8px;
}
.body .container .cancel, .body .container .cancel-white {
  position: absolute;
  top: 48px;
  right: 48px;
  z-index: 99999;
  cursor: pointer;
}
.body .container .cancel {
  display: none;
}
.body .container .cancel-white {
  display: block;
}
.body .container .cancel.active {
  display: block;
}
.body .container .cancel-white.active {
  display: none;
}
.body .container .sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}
.body .container .sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.body .container .form-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.body .container .form-container button {
  font-family: "FiraGO", sans-serif;
}
.body .container .form-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 340px;
  max-width: 340px;
}
.body .container .form-container form .error-text {
  color: #E73B37;
}
.body .container .form-container form .error {
  border: 1px solid #E73B37;
  color: #E73B37;
}
.body .container .form-container form input {
  border: 1px solid #496ac1;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  padding: 12px;
  margin-bottom: 20px;
}
.body .container .form-container form input:hover {
  border: 1px solid #2c2c2c;
}
.body .container .form-container form input:focus {
  border: 1px solid #2c2c2c;
}
.body .container .form-container form a {
  text-decoration: none;
  color: #ffffff;
}
.body .container .form-container form h2 {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
  color: #496ac1;
  margin-bottom: 40px;
  text-align: center;
}
.body .container .form-container form .forget {
  margin-bottom: 20px;
}
.body .container .form-container form .forget a {
  font-size: 14px;
  line-height: 16.8px;
  color: #496ac1;
  cursor: pointer;
}
.body .container .form-container form button {
  width: 340px;
  height: 40px;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #496ac1;
  color: #ffffff;
  border: none;
  font-size: 16px;
  line-height: 19.2px;
  cursor: pointer;
}
.body .container .form-container form .register-btn a {
  padding: 10.5px 115.5px;
}
.body .container .form-container form .box {
  cursor: pointer;
}
.body .container .form-container form .success-box {
  display: none;
}
.body .container .form-container form .visible {
  display: block;
}
.body .container .form-container form .google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  border: 1px solid #496ac1;
  color: #000000;
}
.body .container .form-container form .person {
  display: flex;
  gap: 22px;
}
.body .container .form-container form .person div {
  display: flex;
  flex-direction: column;
}
.body .container .form-container form .password {
  position: relative;
}
.body .container .form-container form .password img {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.body .container.active .sign-in {
  transform: translateX(100%);
  opacity: 0;
  z-index: 0;
}
.body .container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}
@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.body .toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}
.body .container.active .toggle-container {
  transform: translateX(-100%);
}
.body .toggle {
  height: 100%;
  background-color: #496ac1;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.body .container.active .toggle {
  transform: translateX(50%);
}
.body .toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.body .toggle-panel button {
  font-family: "FiraGO", sans-serif;
}
.body .toggle-left {
  transform: translateX(-200%);
}
.body .container.active .toggle-left {
  transform: translateX(0);
}
.body .toggle-right {
  right: 0;
  transform: translateX(0);
}
.body .toggle-right button {
  margin-bottom: 20px;
}
.body .container.active .toggle-right {
  transform: translateX(200%);
}
.body .toggle-panel img {
  margin-bottom: 53.49px;
}
.body .toggle button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19.2px;
  width: 235px;
  cursor: pointer;
}
.body .toggle img {
  width: 235px;
}
.body .container .form-container .agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.body .container .form-container .agreement img {
  width: 20px;
  height: 20px;
}
.body .container .form-container .agreement .agree {
  font-size: 14px;
  color: #496ac1;
}

body .main-sucess {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-sucess div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .main-sucess div p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 24px;
}
body .main-sucess div button {
  max-width: 340px;
  width: 340px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #496AC1;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  border: none;
  border-radius: 6px;
}
body .main-sucess div button a {
  color: white;
  padding: 10.5px 115.5px;
}

.main-emailCheck {
  display: flex;
}
.main-emailCheck .main-container {
  display: flex;
  align-items: center;
  gap: 425px;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
.main-emailCheck .main-container .left-content h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  margin-bottom: 24px;
}
.main-emailCheck .main-container .left-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  margin-bottom: 16px;
}
.main-emailCheck .main-container .left-content .email {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  margin-bottom: 40px;
}
.main-emailCheck .main-container .left-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #496AC1;
}
.main-emailCheck .main-container .left-content button a {
  color: white;
  padding: 10.5px 94px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
}/*# sourceMappingURL=global.css.map */