/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "NotoSansGeorgian", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "NotoSansGeorgian";
  src: url("../../assets/fonts/NotoSansGeorgian-Medium.ttf") format("ttf");
  font-weight: 500;
}
body header {
  font-family: "Firago", sans-serif;
}
body header .header_wrapper {
  background-color: #496ac1;
  padding: 43px 50px;
}
body header .header_wrapper .container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_wrapper .container .navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_wrapper .container .navigation nav ul li:nth-child(1) {
  margin-right: 40px;
}
body header .header_wrapper .container .navigation nav ul li:nth-child(2) {
  margin-right: 80px;
}
body header .header_wrapper .container .navigation nav ul li a {
  color: #ffffff;
  font-weight: 700;
  font-family: "NotoSansGeorgian", sans-serif;
  line-height: 24px;
  transition: 0.3s;
}
body header .header_wrapper .container .navigation nav ul li a:hover {
  color: rgba(255, 255, 255, 0.4392156863);
}
body header .header_wrapper .container .navigation nav ul .toggle-language {
  position: relative;
  width: 56px;
  height: 28px;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-button {
  display: none;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-button:checked + .toggle-label::before {
  transform: translateX(30px);
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-button:checked + .toggle-label .toggle-label-on {
  display: block;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-button:not(:checked) + .toggle-label .toggle-label-off {
  display: block;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #496ac1;
  border-radius: 100px;
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label .toggle-label-on,
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label .toggle-label-off {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label .toggle-label-on {
  left: -12px;
  color: #496ac1;
}
body header .header_wrapper .container .navigation nav ul .toggle-language .toggle-label .toggle-label-off {
  right: -12px;
  color: #496ac1;
}

footer {
  background-color: #496ac1;
  padding: 40px 50px;
  font-family: "NotoSansGeorgian", sans-serif;
}
footer .footer-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .footer-wrapper .privacy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-wrapper .privacy a {
  line-height: 24px;
  color: #ffffff;
}
footer .footer-wrapper .logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
footer .footer-wrapper .logo-wrapper a {
  width: 100%;
}
footer .footer-wrapper .logo-wrapper a .unilab {
  width: 57px;
  height: 76px;
}
footer .footer-wrapper .logo-wrapper a .iliauni {
  width: 75px;
  height: 76px;
}/*# sourceMappingURL=global.css.map */