body {
  background-color: $body-bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;

    .hero-section-enterText {
      margin: 80px 0 150px;

      .label-box {
        display: flex;
        flex-direction: column;

        label {
          font-family: "FiraGO", sans-serif;
          font-size: 28px;
          font-weight: 600;
          color: $header-bg-color;
          letter-spacing: 0.75px;
        }
        .words-Amount-Box {
          align-self: flex-end;
          text-align: end;
          font-size: 16px;
          color: $button-text-color;
          margin: 0 10px 10px 0;
        }
      }
      .form-container {
        textarea {
          width: 1180px;
          height: 400px;
          border: 1px solid $header-bg-color;
          border-radius: 6px;
          resize: none;

          padding: 30px 0 0 30px;
          font-size: 16px;
          color: $button-text-color;
        }
        textarea:active {
          border: 0.5px solid $header-bg-color;
        }
      }

      .btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
        input {
          padding: 15px 50px;
          border: 1px solid $header-bg-color;
          border-radius: 6px;
          background-color: $white;

          font-size: 16px;
          font-weight: 500;
          color: $header-bg-color;
        }
        :nth-child(2) {
          background-color: $header-bg-color;
          color: $white;
        }
        input:hover {
          cursor: pointer;
          background-color: $header-bg-color 50;
        }
      }
    }

    .is-valid {
      border: 2.5px solid green;
    }
    .not-valid {
      border: 2.5px solid red;
    }
  }
}
