footer{
    background-color: #496AC1;
    padding: 40px 50px;
    font-family: 'FiraGO', sans-serif;

    .footer-wrapper{
        @include container();
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .privacy{
            display: flex;
            flex-direction: column;
            gap: 20px;

            a{
                font-size: 18px;
                font-weight: 500;
                color: #fff;
            }
        }

        .logo-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;

            a{
                width: 100%;

                .unilab{
                    width: 87px;
                    height: 70px;
                    margin-right: 40px;
                }

                .iliauni{
                    width: 72.7px;
                    height: 70px;
                }


            }
        }
    }
}