// color
$body-bg-color: #f0f4f8;
$header-bg-color: #496ac1;
$nav-elements-color: rgba(246, 246, 246, 0.8);
$text-color: #e6e6e6;
$text-color-02: #ffffff;
$button-text-color: #2c2c2c;
$block-text-color: #000000;
